# Assignment 1
Assignment1/bin
Assignment1/obj

# Assignment 2
Assignment2/bin
Assignment2/obj

# Assignment 3
Assignment3/bin
Assignment3/obj

# Assignment 4
Assignment4/bin
Assignment4/obj

# Other
.DS_Store
